.Menu {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: 0% 0%; PADDING-LEFT: 0px; FONT-SIZE: 10px; BACKGROUND-ATTACHMENT: scroll; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; WIDTH: 160px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat; FONT-FAMILY: Verdana; HEIGHT: 15px
}
.Menu_Default {
	BORDER-RIGHT: #ded8d2 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ded8d2 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 10px; BACKGROUND: #f6f4f3; VERTICAL-ALIGN: middle; BORDER-LEFT: #ded8d2 1px solid; WIDTH: 160px; CURSOR: hand; BORDER-BOTTOM: #ded8d2 1px solid; FONT-FAMILY: Verdana; WHITE-SPACE: normal; HEIGHT: 15px
}
.Menu_MouseOver {
	BORDER-RIGHT: #336699 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #336699 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 10px; BACKGROUND: #b9c8e5; VERTICAL-ALIGN: middle; BORDER-LEFT: #336699 1px solid; WIDTH: 160px; CURSOR: hand; BORDER-BOTTOM: #336699 1px solid; FONT-FAMILY: Verdana; WHITE-SPACE: normal; HEIGHT: 15px
}
.Menu_MouseDown {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 10px; BACKGROUND: #b9c8e5; VERTICAL-ALIGN: middle; BORDER-LEFT: #999 1px solid; WIDTH: 160px; CURSOR: hand; BORDER-BOTTOM: #999 1px solid; FONT-FAMILY: Verdana; WHITE-SPACE: normal; HEIGHT: 15px
}
.Menu_MouseUp {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 10px; BACKGROUND: #b9c8e5; VERTICAL-ALIGN: middle; BORDER-LEFT: #999 1px solid; WIDTH: 160px; CURSOR: hand; BORDER-BOTTOM: #999 1px solid; FONT-FAMILY: Verdana; WHITE-SPACE: normal; HEIGHT: 15px
}
.Menu_SelectedItem {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 10px; BACKGROUND: lightsteelblue; VERTICAL-ALIGN: middle; BORDER-LEFT: #999 1px solid; WIDTH: 160px; CURSOR: hand; BORDER-BOTTOM: #999 1px solid; FONT-FAMILY: Verdana; WHITE-SPACE: normal; HEIGHT: 15px
}
.Menu_UnSelectedItem {
	BORDER-RIGHT: #ded8d2 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #ded8d2 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 10px; BACKGROUND: #f6f4f3; VERTICAL-ALIGN: middle; BORDER-LEFT: #ded8d2 1px solid; WIDTH: 160px; CURSOR: hand; BORDER-BOTTOM: #ded8d2 1px solid; FONT-FAMILY: Verdana; WHITE-SPACE: normal; HEIGHT: 15px
}
.Menu_SubMenu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; BACKGROUND: #f6f4f3; PADDING-BOTTOM: 0px; WIDTH: 160px; PADDING-TOP: 0px; FONT-FAMILY: Verdana
}
