@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Work+Sans:wght@300;400;500;600&display=swap&display=swap');

/* ESTILOS SLIDE */

.carousel-superior .carousel-item img {
    height:230px;
}

.carousel-superior .carousel-indicators {
    justify-content: right;
    margin-bottom: 66px;
    margin-left: 15% !important;
}

.carousel-superior .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px; 
    height: 10px;
    padding:3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #FFF;
    background-clip:content-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border: 2px solid transparent;
    opacity: 1;
    transition: background-color .6s ease;
    border-radius: 100%; 
}

.carousel-superior .carousel-indicators .active {  
    width: 10px; 
    height: 10px;
    background-color:#58B548;
    background-clip:content-box;
    padding:3px;
    border: 2px solid #FFF;
    opacity: 1;
}

.carousel-superior .carousel-play-pause {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 24px;
    height: 24px;
    left: 0;
    z-index: 2;
    margin-bottom: 66px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    opacity: 1;
    text-align: center;
    margin-left: 9%;
}

.carousel-superior .carousel-play-pause span {            
    color: #FFF !important;
}

.carousel-inferior {
    display: flex;        
}

.carousel-inferior .carousel-item img {
    max-height:98px;
    width: auto;
    filter: grayscale(1);
}

.carousel-inferior .carousel-item img:hover {
    max-height:98px;
    width: auto;
    filter: none;
}

.carousel-inferior .slide {
    width: 80%;
}

.carousel-inferior .slide .carousel-item {
    text-align: center;
}

.carousel-inferior .controls-direction {
    background-color: transparent;
    width: 10%; 
    margin-top: auto;
    margin-bottom: auto;
}

.carousel-inferior .controls-direction-small {
    background-color: transparent;
    width: 10%; 
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.carousel-inferior .controls-direction .left{
    font-size: 25px;
    font-weight: bold;
    color: #3366CC;
    padding-left: 60%;
}

.carousel-inferior .controls-direction .right{
    font-size: 25px;
    color: #3366CC;
    padding-left: 38.8%;
}

.carousel-inferior .controls-direction-small .left{
    font-size: 25px;
    color: #3366CC;
}

.carousel-inferior .controls-direction-small .right{
    font-size: 25px;
    color: #3366CC;
}

.tituloSlideInferior {
    text-align: left;    
    margin-left: 10%;
    margin-top: 41px;
    margin-bottom: 21px;
}

.tituloSlideInferior label{
    text-align: left;
    font: normal normal 600 19px/19px Montserrat;
    font-size: 16px;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
}

/* ESTILOS BUSCADOR */

@media (min-width: 0px) and (max-width: 762px) {
    .buscador {
        margin-top: 5px;
        width: 98%;
        margin-left: 1%;
    }

    .buscador .buscar {
        width: 100%;
        margin-bottom: 10px;
    }

    .buscador .accesos {
        width: 100%;
        margin-left:auto;
        margin-right: auto;
    }
}

@media (min-width:762px) {
    .buscador {
        position: absolute;
        margin-top: -24px;
        left: auto;
        right: auto;
        max-width: 1280px;
        width: 100%;
    }

    .buscador .buscar {
        width: 64%;
        margin-left: 5.5%;
        margin-right: 3%;
    }

    .buscador .accesos {
        width: 23%;
    }
}

.buscador .buscar input[type=text] {
    width: 100%;
    border: 1px solid #C3DBF9;
    border-radius: 23px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0px;
    color: #004884;
    font: normal normal 600 19px/19px Montserrat;
    font-weight: 600;
    height: 48px;    
    box-shadow: 0px 3px 3px #B3C2E3;
    text-indent: 3%;
    outline: none;
}

.buscador .buscar input[type=text]::placeholder { 
  color: #004884;
  opacity: 1;
}

.buscador .buscar input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #004884;
  opacity: 1;
}

.buscador .buscar input[type=text]::-ms-input-placeholder { /* Microsoft Edge */
  color: #004884;
  opacity: 1;
}

.buscador .buscar .buscar-icon {
  float: right;
  position: relative;
  font-size: 16px;
  margin: -41.5px 0.6% 0 0;
  cursor: pointer;
  color: #3366CC;
  background-image: url(../../Resources/Img_Vital/ICO-lupa.png);
  width: 34px;
  height: 34px;
}

.buscador .accesos a {
    text-decoration: none;
    font: var(--unnamed-font-style-normal) normal 600 14px/16px 'Work Sans';
    text-align: center;
    font: normal normal 600 14px/16px Work Sans;
    letter-spacing: 0px;
    color: #FFFFFF;    
}

.buscador .accesos #acceso-encuesta {
    background: #58B548 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #58B548;
    border-radius: 10px;
    text-align: center;
    opacity: 1;
    height: 48px;
    width: 54%;
    margin-right: 9%; 
    display: flex;
    align-items: center;   
}

.buscador .accesos #acceso-silamc {
    background: #58B548 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #58B548;
    border-radius: 10px;
    font: var(--unnamed-font-style-normal) normal 600 14px/16px 'Work Sans';
    text-align: center;
    opacity: 1;
    height: 48px;
    width: 37%;
    display: flex;
    align-items: center;   
}


/* ESTILOS ACCESOS */

@media (min-width: 0px) and (max-width: 762px) {
    .acceso-login {
        margin-top: 10px;
    }

    .acceso-login .accesos {
        background: #F6F8F9 0% 0% no-repeat padding-box;
        border: 2px solid #E6EFFD;
        border-radius: 10px;
        opacity: 1;
        width: 96%;
        margin-left: 2%;
    }

    .acceso-login .accesos .card-vital h3 {
        text-align: left;
        font: normal normal 600 14px/20px Monserrat;
        letter-spacing: 0px;
        color: #58B548;
        opacity: 1;
        font-weight: 600;
    }

    .acceso-login .accesos .card-vital p {
        text-align: left;
        font: normal normal normal 12px/20px 'Work Sans';
        letter-spacing: 0px;
        color: #4B4B4B;
        opacity: 1;
        font-weight: 400;
    }

    .acceso-login .accesos .card-vital:hover h3 {
        text-align: left;
        font: normal normal 600 14px/20px Monserrat;
        letter-spacing: 0px;
        color: #FFF;
        opacity: 1;
        font-weight: 600;
    }

    .acceso-login .accesos .card-vital:hover p {
        text-align: left;
        font: normal normal normal 12px/20px 'Work Sans';
        letter-spacing: 0px;
        color: #FFF;
        opacity: 1;
        font-weight: 400;
    }

}

@media (min-width:762px) {
    .acceso-login {
        margin-top: 40px;
    }

    .acceso-login .accesos {
        background: #F6F8F9 0% 0% no-repeat padding-box;
        border: 2px solid #E6EFFD;
        border-radius: 10px;
        opacity: 1;
        width: 63%;
        margin-left: 5.5%;
        margin-right: 3%;
    }

    .acceso-login .accesos .card-vital h3 {
        text-align: left;
        font: normal normal 600 19px/30px Monserrat;
        letter-spacing: 0px;
        color: #58B548;
        opacity: 1;
        font-weight: 600;
    }

    .acceso-login .accesos .card-vital p {
        text-align: left;
        font: normal normal normal 14px/20px 'Work Sans';
        letter-spacing: 0px;
        color: #4B4B4B;
        opacity: 1;
        font-weight: 400;
    }

    .acceso-login .accesos .card-vital:hover h3 {
        text-align: left;
        font: normal normal 600 19px/30px Monserrat;
        letter-spacing: 0px;
        color: #FFF;
        opacity: 1;
        font-weight: 600;
    }

    .acceso-login .accesos .card-vital:hover p {
        text-align: left;
        font: normal normal normal 14px/20px 'Work Sans';
        letter-spacing: 0px;
        color: #FFF;
        opacity: 1;
        font-weight: 400;
    }

}

.acceso-login .accesos .card {
    border: 0;    
    margin-top: 10.5px;
    margin-bottom: 10.5px;
    background-color: #F6F8F9;
}

.acceso-login .accesos .card-vital {
    background-color: #FFF;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #58B548;
    border: 2px solid #BCF0B3;
    border-radius: 6px;
    opacity: 1;
}

.acceso-login .accesos .card-vital a {
    text-decoration: none;
}


.acceso-login .accesos .card-vital img {
    height: 40px;
    margin-bottom: 3px;
}

.acceso-login .accesos .card-vital:hover {
    background-color: #58B548;
    border: 2px solid #58B548;
    border-radius: 6px;
    opacity: 1;
}

.acceso-login .accesos .card-vital:hover img{
    height: 40px;
    filter: brightness(0) invert(1);
    margin-bottom: 3px;
}

.acceso-login .accesos .card-vital .icon{
    font-size: 40px;
    line-height: 40px;
    color: #58B548;
    margin-bottom: 3px;
}

.acceso-login .accesos .card-vital:hover .icon{
    font-size: 40px;
    line-height: 40px;   
    color: #FFF;
    margin-bottom: 3px;
}


/* ESTILOS LOGIN */


@media (min-width: 0px) and (max-width: 762px) {
    .acceso-login .login {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #E6EFFD;
        border-radius: 10px;
        opacity: 1;
        width: 96%;
        margin-left: 2%;
        margin-top: 10px;
    }
}

@media (min-width:762px) {
    .acceso-login .login {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #E6EFFD;
        border-radius: 10px;
        opacity: 1;
        width: 23%
    }
}

.acceso-login .login .titulo {
    margin-left: 10%;
    margin-top: 20px;   
    text-align: left;
    margin-bottom: 20px;
}

.acceso-login .login .titulo label{
    font: normal normal 600 19px/19px Montserrat;
    letter-spacing: 0px;
    color: #004884;
    opacity: 1;
    font-weight: 600;
}

.acceso-login .login .mensaje-error {
    margin-left: 10%;
    text-align: left;
    color: #ce1e1e;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.acceso-login .login .mensaje-error label{
    font: normal normal normal 14px/20px 'Work Sans';
    letter-spacing: 0px;
    color: #e61414;
    opacity: 1;
    font-weight: 400;
}

.acceso-login .login .lnk-registro {
    margin-left: 10%;
    text-align: left;
    font: normal normal normal 14px/20px 'Work Sans';
    letter-spacing: 0px;
    color: #4B4B4B;
    opacity: 1;
    font-weight: 400;
}

.acceso-login .login .lnk-registro a{
    text-align: left;
    font: normal normal medium 14px/30px Work Sans;
    letter-spacing: 0px;
    color: #3366CC;
    opacity: 1;
    font-weight: 500;
    text-decoration: none;
}

.acceso-login .login input[type=submit]{
    font: var(--unnamed-font-style-normal) normal medium 16px/30px 'Montserrat';
    background: var(--cta) 0% 0% no-repeat padding-box;
    background: #3366CC 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    height: 40px;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-bottom: 20px;
}

.acceso-login .login .lnk-recordar {
    margin-left: 10%;
    margin-bottom: 20px;    
}

.acceso-login .login .lnk-recordar a{
    text-align: left;
    font: normal normal medium 14px/30px 'Work Sans';
    letter-spacing: 0px;
    color: #3366CC;
    opacity: 1;
    font-weight: 500;
    text-decoration: none;
}

.acceso-login .login .formulario {
    margin-left: 10%;
    margin-bottom: 20px;
}

.acceso-login .login .formulario label{
    text-align: left;
    font: normal normal medium 14px/20px 'Work Sans';
    letter-spacing: 0px;
    color: #4B4B4B;
    opacity: 1;
    font-weight: 500;
}

.acceso-login .login .formulario input[type=text]{
    border: 1px solid #CBCBCB;
    border-radius: 5px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0px;
    color: #4B4B4B;
    font: normal normal medium 14px/20px 'Work Sans';
    font-weight: 500;
    width: 90%;
    height: 32.5px;
    text-indent: 2%;
    outline-color: #3366CC;
}

 
.acceso-login .login .formulario .password-icon {
  float: right;
  position: relative;
  font-size: 16px;
  margin: -24px 13% 0 0;
  cursor: pointer;
  color: #3366CC;
}

.acceso-login .login .formulario input[type=password]{
    border: 1px solid #CBCBCB;
    border-radius: 5px;
    opacity: 1;
    text-align: left;
    letter-spacing: 0px;
    color: #4B4B4B;
    font: normal normal medium 14px/20px 'Work Sans';
    font-weight: 500;
    height: 32.5px;
    width: 90%;
    text-indent: 1%;
    outline-color: #3366CC;
}

#loginRecaptcha div{
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 20px;
}