<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
 
 
 
	<title>SILPA</title>
	<link rel="STYLESHEET" type="text/css" href="opcion2_files/PG2.css">
    </head>
<body>
 
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
	<tbody><tr>
		<td align="center" valign="top" width="100%" height="100%">
			<table border="0" cellpadding="0" cellspacing="0" width="750" height="100%">
				<!--- BANNER START --->
				<tbody>
 
<tr>
	<td valign="top"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="1000" height="166">
      <param name="movie" value="cabezaazul.swf">
      <param name="quality" value="high">
      <embed src="cabezaazul.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="1000" height="166"></embed>
	  </object></td>
</tr>
 
 
				<tr>
	              <td valign="top"><img src="iconos2009/menusup1.jpg" width="1000" height="33" border="0" usemap="#Map"></td>
				</tr>
				<!--- BANNER END --->
				
				<!--- BODY START --->
				<tr>
					<td class="contentTile" valign="top" height="100%">
					<div class="bodyContainer">
						
<div class="ltColumn">
	
		<div class="ltColumnRentFocus">
		<div class="rentFocusContent">
		  Usuario:
		  <input name="verCode2" id="verCode2" size="20" class="inputField" type="text">
		Contrase&ntilde;a:
		<input name="clientName2" class="inputField" type="text">
		<img src="opcion2_files/ingresar.gif" alt="Ingresar" width="76" height="24"></div>
		<div class="RentBtn"></a></div>
		<div class="copyright"></div>
	</div>
	    <img src="iconos2009/oclave.jpg" width="175" height="27" border="0" usemap="#Map3"><br>
	    <img src="iconos2009/raqui.jpg" width="175" height="43" border="0" usemap="#Map4">
	  
		
	
		<div id="menu2" class="subMenu" style="display: none;"></div>
		

		
	
		<div id="menu3" class="subMenu" style="display: none;"></div>
		
	
		
	
		
	
		<div id="menu4" class="subMenu" style="display: none;"></div>
		
	
 
	    <table width="170" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="iconos2009/solicitudes.jpg" width="174" height="48"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/sobreelaplicativo.jpg" width="174" height="47"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/normatividad.jpg" width="174" height="48"></td>
          </tr>
		  
		  <tr>
            <td><img src="iconos2009/indicadores.jpg" width="174" height="47"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/politicas.jpg" width="174" height="49"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/comportamiento.jpg" width="174" height="48"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/consultas.jpg" width="174" height="49"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/tramite.jpg" width="174" height="48"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/infpublicada.jpg" width="174" height="48"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/orientacion.jpg" width="175" height="48"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/resolucion.jpg" width="174" height="44"></td>
          </tr>
          
        </table>
</div>
						<div class="ContentArea">
							<div><img src="opcion2_files/ContentAreaTop.jpg" alt="" border="0" width="810" height="5"></div>
							<div class="ContentCopy">
								
<div class="SubHeaderBack">
	<div class="pageHeader">
		<div class="subBannerPhoto"></div>
		<p>&nbsp;</p>
		<p> &nbsp; <span class="specialsBtn">Bienvenido(a) a la página de Trámites de Licencias y Permisos Ambientales </p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p align="right"><span class="Estilo1"><strong>Ultima Actualización:</strong> 05 de junio de 2009 &nbsp; &nbsp; </span></p>
	</div>
</div>
<div class="copy">
	<img src="iconos2009/intro.jpg" width="770" height="615"></div>
								<div><img src="opcion2_files/CopyBtm.jpg" alt="" border="0" width="802" height="5"></div>
							</div>
							<div><img src="opcion2_files/ContentAreaBtm.jpg" alt="" border="0" width="802" height="5"></div>
						</div>
					</div>					</td>
				</tr>
				<!--- BODY END --->
				
				<!--- FOOTER START --->
				
				<tr>
				<td><img src="opcion2_files/enlaces1.jpg" width="1000" height="60" border="0" usemap="#Map2"></td>
				<tr>
	<td class="footerMenu" valign="middle">
	
	
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody><tr>
				<td></td>
				
				
			</tr>
			<tr>
				<td width="100%" valign="middle" nowrap="nowrap" class="footerMenuText"><div align="center">Copyright &copy; 2009 Ministerio de Ambiente, Vivienda y Desarrollo Territorial <br> Direcci&oacute;n: Calle 37 No. 8-40 - Conmutador: (57-1) 3323434 ? 3323400 Líneas gratuitas 018000915060 ? 018000919301 - Horario: Lunes a Viernes de 08:00 a.m. - 5:00 p.m</div></td>
			</tr>
		</tbody></table>
		
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody><tr>
				<td width="100%" valign="middle" nowrap="nowrap" class="footerMenuText"><div align="center"></div></td>
				
				
			</tr>
		</tbody></table>	</td>
</tr>

				<!--- FOOTER END --->
			</tbody></table>
		</td>
	</tr>
</tbody></table>
 


<map name="Map"><area shape="rect" coords="9,2,111,31" href="#" alt="Inicio">
<area shape="rect" coords="133,2,243,30" href="#" alt="Registro">
<area shape="rect" coords="263,3,369,29" href="#" alt="Contactenos">
<area shape="rect" coords="390,2,500,30" href="#" alt="Mapa del Sitio">
<area shape="rect" coords="523,3,673,30" href="#" alt="Preguntas Frecuentes">
<area shape="rect" coords="693,3,789,32" href="#" alt="Ayuda">
<area shape="rect" coords="954,4,990,32" href="#" alt="buscar">
</map>
<map name="Map2"><area shape="rect" coords="132,1,354,63" href="#" alt="Presidencia de la Rep&uacute;blica">
<area shape="rect" coords="401,1,684,64" href="#" alt="Ministerio de Ambiente, Vivienda y Desarrollo Territorial">
<area shape="rect" coords="716,1,858,59" href="#" alt="Gobierno en L&iacute;nea">
</map>
<map name="Map3">
<area shape="rect" coords="-2,6,172,25" href="#" alt="Olvido su clave">
</map>
<map name="Map4"><area shape="rect" coords="3,2,175,26" href="#" alt="Registrese Aqui">
</map></body></html>

