<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
 
 
 
	<title>SILPA</title>
	<link rel="STYLESHEET" type="text/css" href="opcion2_files/PG2.css">
    <style type="text/css">
<!--
.Estilo1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
-->
    </style>
    </head>
<body>
 
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
	<tbody><tr>
		<td align="center" valign="top" width="100%" height="100%">
			<table border="0" cellpadding="0" cellspacing="0" width="750" height="100%">
				<!--- BANNER START --->
				<tbody>
 
<tr>
	<td valign="top"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="1000" height="166">
      <param name="movie" value="cabezaazul.swf">
      <param name="quality" value="high">
      <embed src="cabezaazul.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="1000" height="166"></embed>
	  </object></td>
</tr>
 
 
				<tr>
	              <td valign="top"><img src="iconos2009/menusup1.jpg" width="1000" height="33" border="0" usemap="#Map"></td>
				</tr>
				<!--- BANNER END --->
				
				<!--- BODY START --->
				<tr>
					<td class="contentTile" valign="top" height="100%">
					<div class="bodyContainer">
						
<div class="ltColumn">
	
		<div id="menu1" class="subMenu" style="display: none;"></div>
		
	<table width="170" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="iconos2009/solicitudes.jpg" width="174" height="48"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/sobreelaplicativo.jpg" width="174" height="47"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/normatividad.jpg" width="174" height="48"></td>
          </tr>
		  
		  <tr>
            <td><img src="iconos2009/indicadores.jpg" width="174" height="47"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/politicas.jpg" width="174" height="49"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/comportamiento.jpg" width="174" height="48"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/consultas.jpg" width="174" height="49"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/tramite.jpg" width="174" height="48"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/infpublicada.jpg" width="174" height="48"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/orientacion.jpg" width="175" height="48"></td>
          </tr>
          <tr>
            <td><img src="iconos2009/resolucion.jpg" width="174" height="44"></td>
          </tr>
          
        </table>
	
		
	
 
	
	
</div>
						<div class="ContentArea">
						

<div><img src="opcion2_files/ContentAreaTop.jpg" alt="" border="0" width="810" height="5"></div>
							<div class="ContentCopy"><div class="SubHeaderBack1"><div class="pageHeader">
							 
		
		</div>
		<div> 
		  <div align="right" class="ltGreen Estilo2">
		    <table width="100%" border="0" height="70">
              <tr>
                <td width="4%">&nbsp;</td>
               
                <td width="42%"><p align="justify"><br>
                    <img src="iconos2009/pasoapaso.jpg" width="299" height="43"><center>Paso 1</center></td>
                <td width="54%">&nbsp;</td>
              </tr>
            </table>
		 </div>
		</div>
</div>
<div class="copy">
	
	
	<table width="100%" border="0">
      <tr>
        <td><p>Verificaci&oacute;n<br>
              <input name="verCode" id="verCode" size="20" class="inputField" type="text">
              <br>
              <br>
          Entidad:<br>
  <input name="clientName" class="inputField" type="text">
  <br>
          Email:<br>
  <input name="clientEmail" class="inputField" type="text">
  <br>
  <br>
          Comentarios:<br>
  <textarea name="clientComments" cols="30" rows="5" style="border: 1px solid rgb(0, 0, 0);"></textarea>
  <br>
  <br>
  <input name="submit" type="submit" style="font-size: 11px;" value="Submit">
        </p>
          <p>&nbsp;</p>
         
          
        
          
         
        </td>
      </tr>
    </table>
	
	
	
	
	<form name="contactUsForm" action="mailform_ContactUs.asp" method="post" onSubmit="return FormValidator();">
	</form>
</div>
								<div><img src="opcion2_files/CopyBtm.jpg" alt="" border="0" width="802" height="5"></div>
						  </div>
							<div><img src="opcion2_files/ContentAreaBtm.jpg" alt="" border="0" width="802" height="5"></div>
						</div>
					</div>					</td>
				</tr>
				<!--- BODY END --->
				
				<!--- FOOTER START --->
				<tr>
	<td class="footerMenu" valign="middle">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody><tr>
				<td width="100%" valign="middle" nowrap="nowrap" class="footerMenuText"><div align="center">Copyright <img src="opcion2_files/copy.gif" width="21" height="20" align="absmiddle"> 2009 Ministerio de Ambiente, Vivienda y Desarrollo Territorial <br>
Direcci&oacute;n: Calle 37 No. 8-40 - Conmutador: (57-1) 3323434 &ndash; 3323400 L&iacute;neas gratuitas 018000915060 &ndash; 018000919301 - Horario: Lunes a Viernes de 08:00 a.m. - 5:00 p.m</div></td>
				
				
			</tr>
			
		</tbody></table>	</td>
</tr>

				<!--- FOOTER END --->
			</tbody></table>
		</td>
	</tr>
</tbody></table>
 


<map name="Map">
  <area shape="rect" coords="12,4,111,30" href="#" alt="Inicio">
<area shape="rect" coords="152,3,261,30" href="#" alt="Presentar queja">
<area shape="rect" coords="323,4,431,30" href="#" alt="Cont&aacute;ctenos">
<area shape="rect" coords="482,1,592,28" href="#" alt="Mapa del sitio">
<area shape="rect" coords="676,2,773,29" href="#" alt="Ayuda">
<area shape="rect" coords="954,4,990,29" href="#" alt="Buscar">
</map></body></html>
